
html, body {
  padding: 0;
  margin: 0;
}

h1,p{
  color:DarkSlateGray
}

p {
  font-size:18px
}


#page1 

{
color: #000000;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 175px;
  padding-top: 150px;
  padding-bottom: 50px;
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/9e/48/ac/9e48ac37542b462e7315c22e66e9f25f.jpg");

}

h1,h2 {
color: #000000;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 175px;
  padding-top: 150px;
  padding-bottom: 50px;


}

#page2 

{
  color: #000000;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 100px;
  padding-top: 150px;
  padding-bottom: 50px;
  background-color: #DEDEDE;


}

#page3 

{
color: #000000;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 100px;
  padding-top: 150px;
  padding-bottom: 50px;
  background-color: #EFEFEF;


}


p,ul,li

{
color: #000000;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 100px;
  padding-top: 150px;
  padding-bottom: 50px;

}
